<?xml version="1.0" encoding="UTF-8" ?>

<directories xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:noNamespaceSchemaLocation='rotator.xsd'>
  <directory path="/home/user">
    <rule>
      <conditions>
        <condition type="file-name-match">*.torrent</condition>
        <condition type="file-size-more">1MB</condition>
        <condition type="file-age-greater">1M 1D</condition>
      </conditions>
      <rotator id="remover">
      </rotator>
    </rule>
    <rule>
      <conditions>
        <condition type="file-name-match">*.jpg|*.jpeg|*.png</condition>
        <condition type="file-age-greater">7D</condition>
      </conditions>
      <rotator id="remover">
      </rotator>
    </rule>
  </directory>
</directories>
